@model Celeste.R9.Estructura.Negocio.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado</h2>


@using (Html.BeginForm("Form", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row g-3" id="input" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)

                <span class="input-group-text"><i class="bi bi-person-circle"></i> </span>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Puesto.PuestoID)

                <span class="input-group-text"><i class="bi bi-person-circle"></i> </span>
                @Html.TextBoxFor(model => model.Puesto.PuestoID, new { @class = "form-control", @id = "txtNombre" })
                @Html.ValidationMessageFor(model => model.Puesto.PuestoID)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Departamento.DepartamentoID)

                <span class="input-group-text"><i class="bi bi-person-circle"></i> </span>
                @Html.TextBoxFor(model => model.Departamento.DepartamentoID, new { @class = "form-control", @id = "txtNombre" })
                @Html.ValidationMessageFor(model => model.Departamento.DepartamentoID)
            </div>

            <br />
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-image"></i></span>
                <button class="btn btn-success" type="submit">Agregar</button>
            </div>

        </div>
    </div>

}
<div class="col-md-3" style="float:right">
    <a><input id="idAgregar" type="submit" value="Agregar Empleado" class="btn btn-success" onclick="" /></a>
</div>

<div class="container">
    <hr />
    <div class="row">
        @using (Html.BeginForm("GetAll", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)

                    <span class="input-group-text"><i class="bi bi-person-circle"></i> </span>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>

                <br />
                <input type="submit" value="Buscar" class="btn btn-info" />

            </div>

        }
    </div>

    <hr />
    <div class="row">
        @if (Model.Empleados != null)
        {
            //tabla
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;"> Nombre</td>
                        <td class="text-center" style=" font-weight:bold;">Puesto</td>
                        <td class="text-center" style=" font-weight:bold;">Departamento</td>
                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Celeste.R9.Estructura.Negocio.Empleado empleado in Model.Empleados)
                    {
                        <tr>

                            <td class="hidden">@empleado.EmpleadoID</td>
                            <td>@empleado.Nombre</td>
                            <td class="hidden">@empleado.Departamento.DepartamentoID</td>
                            <td>@empleado.Departamento.Descripcion</td>
                            <td class="hidden">@empleado.Puesto.PuestoID</td>
                            <td>@empleado.Puesto.Descripcion</td>


                            <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Empleado", new { EmpleadoID = empleado.EmpleadoID})" onclick="return confirm('¿Desea eliminar el empleado?');"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script type="text/javascript">
        $('#idAgregar').click(function () {
            $('#input').toggle('slow', function () {

            });
        });
    </script>
}